*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    min-height: 58vh;
    background-color:#3b3b3b;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 70px;
    overflow: hidden;
}

.hero-content h1{
    font-size: 80px;
    margin-bottom: 20px;
    color:  rgb(255, 255, 255);
}

.hero-content p{
    font-size: 24px;
    color: white;
    margin-bottom: 30px;
}

.hero-content button{
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.hero-content button:hover{
    background-color:  rgba(9, 32, 87, 1);
}

.hero-background {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
    z-index: 1;
}

.hero-background img{
    width: 550px;
    height: 430px;
    opacity: 0.1;
}