*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    min-height: 100vh;
    background-color: black;
}

.match-section{
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}