*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    background-color: #353535;
    flex: 1;
}

.match-section{
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}