.galleryFull {
    background-color: #3b3b3b;
}

.containerGallery {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 500px;
}

.galleryItem {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.galleryItem img {
    width: 31%;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
}